@font-face {
  font-family: "Axis";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Axis.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../font/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pacifico";
  src: url("../font/Pacifico-Regular.ttf") format("truetype");
}

:root {
  --brown: #985e5b;
  --white: #ffffff;
  --coalblack: #1e2633;
  --grey: #404040;
  --lightgrey: #d0d0d0;
  --darkergrey: #f7f7f7;
  --footerbackground: #edeff2;
  --black: #000000;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fixed-body {
  overflow: hidden;
}

nav {
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 20;
  background-color: var(--white);
  width: 100%;
}

.navigation--left {
  font-family: "Pacifico";
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 3px;
  color: var(--black);
  margin: 0;
  padding: 0;
}

.navigation--right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation__cart {
  width: 18px;
}

.navigation__count {
  padding-top: 3px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.navigation__divide {
  height: 25px;
}

.navigation__hamburger {
  display: block;
  padding-right: 15px;
  cursor: pointer;
}

.navigation__hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}

.navigation__hamburger.active .navigation__hamburger-bar:nth-child(2) {
  opacity: 0;
}

.navigation__hamburger.active .navigation__hamburger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navigation__hamburger.active .navigation__hamburger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navigation__menu {
  display: flex;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  right: -120%;
  top: 34px;
  gap: 0;
  flex-direction: column;
  background-color: var(--white);
  transition: 0.3s ease;
}

.navigation__menu.active {
  right: 0;
}

.navigation__item {
  width: 100%;
  border-top: solid 1px var(--lightgrey);
  display: flex;
  list-style: none;
}

.navigation__item--search {
  border-top: none;
  padding: 18px 0;
}

.navigation__input--search {
  border: transparent;
  padding-left: 10px;
  flex: 1;
}

.navigation__input--search::placeholder {
  color: var(--lightgrey);
  letter-spacing: 2px;
  font-family: "Montserrat";
}

.navigation__button--search {
  border-color: transparent;
  width: 20px;
  height: 20px;
  background: url(/images/3844432_magnifier_search_zoom_icon.svg) no-repeat;
}

.navigation__item--features {
  width: 100%;
  border-top: solid 1px var(--lightgrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__button--features {
  background-color: transparent;
  border: solid 1px var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  margin-right: 8px;
}

.navigation__button--features img {
  width: 17px;
  height: 17px;
}

.navigation__link {
  text-transform: uppercase;
  font-family: "Axis";
  color: var(--black);
  text-decoration: none;
  transition: 0.7s ease;
  letter-spacing: 2px;
  padding: 18px 0px;
  padding-left: 10px;
}

.navigation__link:hover {
  color: var(--brown);
}

.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 139vw;
}

.carousel .carousel-item {
  position: absolute;
  width: 100%;
}

.carousel-item__hidden-right {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  animation: slideToRight 1s;
}

.carousel-item__hidden-left {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  animation: slideToLeft 1s;
}

.carousel img {
  height: 100%;
  width: 100%;
}

.carousel .carousel-item__visible-right {
  display: block;
  z-index: 1;
  animation: fadeVisibilityRight 1s;
}

.carousel .carousel-item__visible-left {
  display: block;
  z-index: 1;
  animation: fadeVisibilityLeft 1s;
}

.carousel .carousel-item__visible-right .carousel-item--text {
  animation: textFadeRight 2s;
}

.carousel .carousel-item__visible-left .carousel-item--text {
  animation: textFadeLeft 2s;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  bottom: 60px;
}

.carousel-item--text {
  position: absolute;
  bottom: 170px;
}

.carousel-item--text__title {
  color: var(--white);
  margin: 0;
  margin-left: 22px;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: "Axis";
}

.carousel-item--text__subtitle {
  color: var(--brown);
  margin-top: 10px;
  margin-left: 22px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Montserrat";
}

.button-arrow {
  background-color: transparent;
  border-color: var(--white);
  margin-top: 50px;
  margin-left: 22px;
  width: 60px;
  height: 60px;
  border-style: solid;
}

.button-arrow {
  justify-items: center;
  align-items: center;
}

.about {
  display: flex;
  padding: 0 9px;
  flex-direction: column;
}

.about-image-grid {
  padding: 55px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.about-image-grid__back {
  grid-area: 1 / 2 / 5 / 11;
}

.about-image-grid img {
  width: 100%;
}

.about-image-grid__top {
  grid-area: 4 / 1 / 8 / 10;
}

.about-text-container {
  padding-bottom: 50px;
}

.about-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 38px;
  letter-spacing: 8px;
  color: var(--coalblack);
  font-family: "Axis";
}

.about-subtitle {
  margin-top: 0;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--brown);
  font-family: "Montserrat";
  text-transform: uppercase;
}

.about-text {
  margin: 0;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
  color: var(--grey);
  font-family: "Montserrat";
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: var(--darkergrey);
  text-align: center;
  padding-bottom: 80px;
}

.gallery-heading {
  margin: 0;
  margin-top: 70px;
  font-size: 38px;
  letter-spacing: 8px;
  color: var(--coalblack);
  font-family: "Axis";
}

.gallery-subheading {
  margin: 0;
  padding-bottom: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 25px;
  color: var(--brown);
  text-transform: uppercase;
  font-family: "Montserrat";
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.gallery-container__image {
  width: 45%;
}

footer {
  text-align: center;
  background-color: var(--footerbackground);
}

.footer-title {
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: var(--coalblack);
}

.footer-media {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer-media__icon {
  width: 30px;
}

.footer-logo {
  font-family: "Pacifico";
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--coalblack);
}

.footer-copyright {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--coalblack);
  font-family: "Axis";
  text-transform: uppercase;
}

@keyframes slideToLeft {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

@keyframes slideToRight {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes fadeVisibilityRight {
  0% {
    transform: translateX(100%);
  }
  100% {
  }
}

@keyframes fadeVisibilityLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
  }
}

@keyframes textFadeRight {
  0% {
    transform: translateX(100%);
  }
  100% {
  }
}

@keyframes textFadeLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
  }
}
