@font-face {
  font-family: "Axis";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Axis.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../font/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pacifico";
  src: url("../font/Pacifico-Regular.ttf") format("truetype");
}

:root {
  --brown: #985e5b;
  --white: #ffffff;
  --coalblack: #1e2633;
  --grey: #404040;
  --darkergrey: #f4f1f1;
  --footerbackground: #ece7e7;
  --black: #000000;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.carousel-images {
  position: relative;
  height: 600px;
}

.carousel-container img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-container-text {
  position: relative;
  margin-top: 310px;
}

.carousel-title {
  color: var(--white);
  margin: 0;
  margin-left: 27px;
  font-size: 28px;
  letter-spacing: 3px;
  font-family: "Axis";
}

.carousel-subtitle {
  color: var(--brown);
  margin-top: 10px;
  margin-left: 27px;
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Montserrat";
}

button {
  background-color: transparent;
  border-color: var(--white);
  margin-top: 55px;
  margin-left: 15px;
  font-size: 50px;
  width: 60px;
  border-style: solid;
}

.arrow {
  color: var(--white);
}

.about {
  display: flex;
  padding: 0 9px;
  flex-direction: column;
}

.about__image-container {
  padding: 30px 0;
  position: relative;
  width: 100%;
  height: 400px;
}

.about-back-image {
  position: absolute;
  right: 0;
  top: 15%;
}

.about-top-image {
  position: absolute;
  left: 0;
  bottom: 15%;
}
.about__text-container {
  padding-bottom: 50px;
}

.about-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 38px;
  letter-spacing: 8px;
  color: var(--coalblack);
  font-family: "Axis";
}

.about-subtitle {
  margin-top: 0;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--brown);
  font-weight: 700;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.about-text {
  margin: 0;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
  color: var(--grey);
  font-weight: 400;
  font-family: "Montserrat";
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: var(--darkergrey);
  text-align: center;
  padding-bottom: 80px;
}

.gallery-heading {
  margin: 0;
  margin-top: 70px;
  font-size: 38px;
  letter-spacing: 8px;
  color: var(--coalblack);
  font-family: "Axis";
}

.gallery-subheading {
  margin: 0;
  padding-bottom: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 25px;
  color: var(--brown);
  text-transform: uppercase;
  font-family: "Montserrat";
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.gallery-imgage {
  width: 45%;
}

footer {
  text-align: center;
  background-color: var(--footerbackground);
}

.footer-heading {
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  font-family: "Montserrat";
  color: var(--coalblack);
  font-weight: 700;
}

.footer-logo-image {
  align-items: center;
}

.footer-renome {
  font-family: "Pacifico";
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--coalblack);
  font-weight: 400;
}

.footer-text-copyright {
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--coalblack);
  font-family: "Axis";
  text-transform: uppercase;
}
