@font-face {
  font-family: "Axis";
  font-style: normal;
  font-weight: 400;
  src: url("../font/Axis.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../font/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pacifico";
  src: url("../font/Pacifico-Regular.ttf") format("truetype");
}

:root {
  --brown: #985e5b;
  --white: #ffffff;
  --coalblack: #1e2633;
  --grey: #404040;
  --lightgrey: #d0d0d0;
  --darkergrey: #f7f7f7;
  --footerbackground: #edeff2;
  --black: #000000;
  --pacifico: "Pacifico";
  --axis: "Axis";
  --montserrat: "Montserrat";
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.fixed-body {
  overflow: hidden;
}

nav {
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  background-color: var(--white);
  width: 100%;
}

.navigation--left {
  font-family: var(--pacifico);
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 3px;
  color: var(--black);
  margin: 0;
  padding: 0;
}

.navigation--right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation__cart {
  width: 18px;
}

.navigation__count {
  padding-top: 3px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.navigation__divide {
  height: 25px;
}

.navigation__hamburger {
  display: block;
  padding-right: 15px;
  cursor: pointer;
}

.navigation__hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}

.navigation__hamburger.active .navigation__hamburger-bar:nth-child(2) {
  opacity: 0;
}

.navigation__hamburger.active .navigation__hamburger-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navigation__hamburger.active .navigation__hamburger-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navigation__menu {
  display: flex;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  right: -120%;
  top: 34px;
  gap: 0;
  flex-direction: column;
  background-color: var(--white);
  transition: 0.3s ease;
}

.navigation__menu.active {
  right: 0;
}

.navigation__item {
  width: 100%;
  border-top: solid 1px var(--lightgrey);
  display: flex;
  list-style: none;
}

.navigation__item--search {
  border-top: none;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 18px;
}

.navigation__input--search {
  border: transparent;
  height: 38px;
  padding-left: 10px;
  flex: 1;
}

.navigation__input--search::placeholder {
  color: var(--lightgrey);
  letter-spacing: 2px;
  font-family: var(--montserrat);
  font-size: 12px;
}

.navigation__button--search {
  border: none;
  margin-right: 8px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/images/3844432_magnifier_search_zoom_icon.svg) no-repeat;
}

.navigation__item--features {
  width: 100%;
  border-top: solid 1px var(--lightgrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__button--features {
  background-color: transparent;
  border: solid 1px var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  margin: 8px;
}

.navigation__button--features img {
  width: 15px;
  height: 15px;
}

.navigation__link {
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-size: 12px;
  color: var(--black);
  text-decoration: none;
  transition: 0.7s ease;
  letter-spacing: 2px;
  padding: 18px 0;
  padding-left: 10px;
}

.navigation__link:hover {
  color: var(--brown);
}

.cart {
  position: absolute;
  display: flex;
  width: 30%;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--white);
  transition: 0.7s ease;
  padding: 0;
  margin: 0;
  right: 65px;
  top: -400%;
}

.cart.active {
  right: 65px;
  top: 100%;
}

.cart__item {
  width: 100%;
}

.cart__item:hover {
  color: var(--brown);
}

.cart__text {
  font-family: var(--montserrat);
  text-align: center;
  justify-content: center;
  margin: 0;
  padding: 18px 10px;
  letter-spacing: 1px;
  font-weight: bolder;
}

.sub-navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: var(--white);
  transition: 0.7s ease;
  padding: 0;
  margin: 0;
  right: 0;
  top: 50px;
  width: 100%;
  right: -100%;
}

.sub-navigation.active {
  right: 0;
}

.sub-navigation__item {
  width: 100%;
  border-top: solid 1px var(--lightgrey);
  display: flex;
  list-style: none;
  padding-left: 10px;
}

.sub-navigation__item--back {
  border: none;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 0;
  padding-top: 20px;
}

.sub-navigation__button--back {
  background-color: transparent;
  border: solid 1px var(--lightgrey);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  margin: 8px;
}

.sub-navigation__button--back img {
  width: 15px;
  height: 15px;
}

.sub-navigation__text {
  font-family: var(--montserrat);
  color: var(--black);
  text-decoration: none;
  transition: 0.7s ease;
  margin: 0;
  letter-spacing: 2px;
  padding: 18px 0;
  font-size: 12px;
}

.sub-navigation__text:hover {
  color: var(--brown);
}

.sub-navigation__text--back {
  margin-right: 25px;
  font-size: 12px;
}

.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: 139vw;
}

.carousel .carousel__item {
  position: absolute;
  width: 100%;
}

.carousel .carousel__item--visible-right {
  display: block;
  z-index: 1;
  animation: fadeVisibilityRight 1s;
}

.carousel .carousel__item--visible-left {
  display: block;
  z-index: 1;
  animation: fadeVisibilityLeft 1s;
}

.carousel .carousel__item--visible-right .carousel__text {
  animation: textFadeRight 2s;
}

.carousel .carousel__item--visible-left .carousel__text {
  animation: textFadeLeft 2s;
}

.carousel__item--hidden-right {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  animation: slideToRight 1s;
}

.carousel__item--hidden-left {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  animation: slideToLeft 1s;
}

.carousel__text {
  position: absolute;
  bottom: 170px;
}

.carousel__title {
  font-family: var(--axis);
  color: var(--white);
  margin: 0;
  margin-left: 22px;
  font-size: 28px;
  letter-spacing: 3px;
}

.carousel__subtitle {
  font-family: var(--montserrat);
  color: var(--brown);
  margin-top: 10px;
  margin-left: 22px;
  font-size: 22px;
  letter-spacing: 2px;
}

.carousel img {
  height: 100%;
  width: 100%;
}

.carousel__navigation {
  position: absolute;
  display: flex;
  gap: 15px;
  margin-left: 22px;
  z-index: 2;
  bottom: 60px;
}

.carousel__button {
  background-color: transparent;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border: 2px solid var(--white);
}

.carousel__button img {
  width: 28px;
  height: 28px;
}

.about {
  display: flex;
  padding: 0 9px;
  flex-direction: column;
}

.about__image-grid {
  padding: 55px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.about__back-container {
  grid-area: 1 / 2 / 5 / 11;
}

.about__image-grid img {
  width: 100%;
}

.about__front-container {
  grid-area: 4 / 1 / 8 / 10;
}

.about__text-container {
  padding-bottom: 50px;
}

.about__title {
  font-family: var(--axis);
  margin: 0;
  margin-bottom: 10px;
  font-size: 38px;
  letter-spacing: 8px;
  color: var(--coalblack);
}

.about__subtitle {
  font-family: var(--montserrat);
  margin-top: 0;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--brown);
  text-transform: uppercase;
}

.about__paragraph {
  font-family: var(--montserrat);
  margin: 0;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 30px;
  color: var(--grey);
}

.gallery {
  display: flex;
  flex-direction: column;
  background-color: var(--darkergrey);
  text-align: center;
  padding-bottom: 80px;
}

.gallery__title {
  font-family: var(--axis);
  margin: 0;
  margin-top: 70px;
  font-size: 38px;
  letter-spacing: 8px;
  color: var(--coalblack);
}

.gallery__subtitle {
  font-family: var(--montserrat);
  margin: 0;
  padding-bottom: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 25px;
  color: var(--brown);
  text-transform: uppercase;
}

.gallery__image-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.gallery__image {
  width: 45%;
}

footer {
  text-align: center;
  background-color: var(--footerbackground);
}

.footer__title {
  font-family: var(--montserrat);
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--coalblack);
}

.footer__social-media {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.footer__icon {
  width: 30px;
}

.footer__logo {
  font-family: var(--pacifico);
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--coalblack);
}

.footer__copyright {
  font-family: var(--axis);
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--coalblack);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

@keyframes slideToLeft {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

@keyframes slideToRight {
  0% {
    left: 0%;
  }
  100% {
    left: -100%;
  }
}

@keyframes fadeVisibilityRight {
  0% {
    transform: translateX(100%);
  }
  100% {
  }
}

@keyframes fadeVisibilityLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
  }
}

@keyframes textFadeRight {
  0% {
    transform: translateX(100%);
  }
  100% {
  }
}

@keyframes textFadeLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
  }
}
